/* Responsive CSS for exotic poultry page */
/* with sticky footer */


body {
     background-color: #FFFFFF;
	/*  Choose a font stack. A browser uses the first 
	    font in the stack that it has.  */
     font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
     min-height: 100vh;  /* needed to make sure body fills up window */

	display: flex;
	flex-direction: column;  /* stack items inside vertically */ 
}

header{
	background-color: #E8AB9E;
}

div.title {
	text-align:left;
	vertical-align:top;
	float:left;
	background-color: #E8AB9E;
	color:#FFFFFF;
    display: block;
	padding: 5px;
	flex: 0 0 auto;  /* don't grow, don't shrink, hold contents */
}

h2.title{
	margin-top: 25px;
	margin-bottom: 0px;
	margin-left: 20px;
	font-size: 40px;
}

p.title{
	margin-top: 0px;
	margin-bottom: 25px;
	margin-left: 20px;
	font-size:22px;
}
/* flex item of navigation bar*/
ul{
	list-style-type:none;
	background-color:#E8AB9E;
	margin:0;
	padding:40px;
	flex:0 0 auto;  /* don't grow, don't shrink, hold contents */
}
li{
	float:right;
}
li a{
	display:block;
	color:#FFFFFF;
	text-align:right;
	vertical-align:top;
	padding: 14px 16px;
	text-decoration:none;
}
li a:hover{
	background-color:#E8AB9E;
}

/* flex item of body */
main {
	flex: 1 0 auto; 
	/* grow , don't shrink, be large enough to contain contents */
	}

div.mainPicturePart {
	padding-bottom: 0px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
    flex-direction:row;
    display: inline-flex;
    /* align-items: center;  /* Lets you see that items really are different heights */
}

p.mainPicturePart{
	background-color: white;
	margin-left: 0px
	padding: 10px;
	flex: 0 1 auto; 
	display: flex;
	width:30%;
	font-size: 15px;
	line-height: 2;
	color:#6C2E2F;
	/* don't grow, shrink fairly, default size 60% of container */	
}

img.mainPicture {
	width: 100%;
}

div.lotsPicturePart{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: stretch;
    height: 10%;
    /* align-items: center;  /* Lets you see that items really are different heights */
}

div.firstColumn{
	flex-direction: row;
	width: 50%;
	justify-content: space-around; 
    align-items: stretch;
    display: flex
}

div.secondColumn{
	flex-direction: row;
	width: 50%;
	justify-content: space-around; 
    align-items: stretch;
    display: flex
}

div.smallPicture {
     background-color: white;
     font-size: medium;
     text-align: center;
     border: 3px white;
     height: auto;  /* just big enough to fit contents */
     flex: 0 1 32%;
     /* flex: 1 1 15%;   /* would make these image divs grow to fill available space */

}

img.smallPicture {
	width: 100%;
	display: inline;
}

p.smallPicture{
	display: none;
}
/* flex item of body */
footer {
      text-align: left;
      background-color: #E8AB9E;
	  flex: 0 0 auto;  /* don't grow, don't shrink, hold contents */
}

div.footer{
	width: 550px;
	flex-direction: row;
	display: inline-flex;
}

div.footerunit{
	font-size: 15px;
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 50%;
}

/* media query switches to mobile view on medium screen */
@media screen and (max-width: 900px) {

div.twoParts{
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: stretch;
}


div.mainPicturePart {
	padding-bottom: 0px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
    flex-direction:row;
    display: inline-flex;
    width: 30%;
    /* align-items: center;  /* Lets you see that items really are different heights */
}

div.mainPicture{
	display: none;
}

p.mainPicturePart{
	background-color: white;
	margin-left: 0px
	padding: 10px;
	flex: 0 1 auto; 
	display: flex;
	width:100%;
	font-size: 12px;
	line-height: 2;
	color:#6C2E2F;
}

div.lotsPicturePart{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: stretch;
    height: 100%;
    width: 100%;
    /* align-items: center;  /* Lets you see that items really are different heights */
}

div.firstColumn{
	flex-direction: column;
	width: 50%;
	padding: 1%;
	justify-content: space-around; 
    align-items: stretch;
    display: flex;
}

div.secondColumn{
	flex-direction: column;
	width: 50%;
	padding: 1%;
	justify-content: space-around; 
    align-items: stretch;
    display: flex;
}

p.smallPicture{
	display: flex;
}

}

/* media query switches to mobile view on small screen */
@media screen and (max-width: 550px) {

div.mainPicture{
	display: none;
}

div.mainPicturePart {
	padding-bottom: 0px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
    flex-direction:row;
    display: inline-flex;
    width: 100%;
    /* align-items: center;  /* Lets you see that items really are different heights */
}

p.mainPicturePart{
	background-color: white;
	margin-left: 0px
	padding: 10px;
	flex: 0 1 auto; 
	display: flex;
	width:100%;
	font-size: 12px;
	line-height: 2;
	color:#6C2E2F;
}

div.twoParts{
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: stretch;
}

div.lotsPicturePart{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: stretch;
    height: 100%;
    width: 100%;
    /* align-items: center;  /* Lets you see that items really are different heights */
}

div.firstColumn{
	flex-direction: column;
	width: 100%;
	padding: 1%;
	justify-content: space-around; 
    align-items: stretch;
    display: flex;
}

div.secondColumn{
	flex-direction: column;
	width: 100%;
	padding: 1%;
	justify-content: space-around; 
    align-items: stretch;
    display: flex;
}






}
